<nav>
  <% if user_signed_in? %>
      <div class="left logout">
        <%= yield :link_structure %>
      </div>
      <div class="right logout">
        <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, class: 'logout') %>
      </div>
  <% else %>
      <div class="left bar">
        <%= yield :link_structure %>
      </div>
      <div class="right bar">
        <%= link_to new_user_registration_path, class: 'signup' do %>
            <p>BECOME A NINJA</p>
            <span class="fa fa-long-arrow-right"></span>
        <% end %>
      </div>
  <% end %>
</nav>