<nav>
  <div class="left">
    <%= link_to 'HOME', root_path, class: 'active' %>
    <%= link_to 'HOW IT WORKS', home_about_path %>
  </div>
  <div class="right">
    <%= link_to new_user_registration_path do %>
        <p>BECOME A NINJA</p>
        <span class="fa fa-long-arrow-right"></span>
    <% end %>
  </div>
</nav>