@import 'partials/_constants';
@import 'partials/_mixins';
@import 'partials/_navbar';

header {
  background-color: $brand-color;
  height: 250px;

  nav {
    background-color: transparent;
    box-shadow: none;

    a, a.active {
      color: white;
    }
  }
}

.guides {
  .column {
    display: inline-block;
    vertical-align: top;
    width: 33%;

    &:nth-of-type(2) {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }

    article {
      img {
        display: block;
        width: 100%;
      }

      .caption {
        padding: 20px 40px;

        .meta {
          color: #b9b9b9;
          font-family: $heading-stack;
          font-size: 11px;
        }

        h1 {
          margin: 10px 0;

          a {
            color: gray;
            font-family: $alternate-stack;
            font-size: 20px;
            font-weight: 100;
          }
        }

        p {
          color: gray;
          font-family: $alternate-stack;
          font-size: 12px;
        }
      }

      .links {
        margin: 30px 0;
      }

      .continue {
        border: 1px solid $brand-color;
        border-radius: 20px;
        color: $brand-color;
        font-size: 12px;
        padding: 7px 15px;

        @include transition(all, ease, 400ms);

        &:hover {
          background-color: $brand-color;
          color: white;
        }
      }
    }
  }
}

#main-header img {
  width: 100%;
}