@import 'partials/_constants';
@import 'partials/_mixins';
@import 'partials/_navbar';

header {
  background-image: image-url('hills.jpg');
  background-size: cover;
  height: 100vh;

  nav {
    background-color: transparent;
    box-shadow: none;

    a, a.active {
      color: white;
    }
  }

  h1 {
    color: white;
    font-family: $alternate-stack;
    font-size: 72px;
    font-weight: 300;
    float: left;
    margin: 200px 150px;
  }
}

.guides {
  .column {
    &:nth-of-type(2) {
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
    }

    article {
      img {
        display: block;
        width: 100%;
      }

      .caption {
        padding: 20px 40px;

        .meta {
          color: #B9B9B9;
          font-family: $heading-stack;
          font-size: 11px;
        }

        h1 {
          margin: 10px 0;

          a {
            color: gray;
            font-family: $alternate-stack;
            font-size: 20px;
            font-weight: 100;
          }
        }

        p {
          color: gray;
          font-family: $alternate-stack;
          font-size: 12px;
        }
      }

      .links {
        margin: 30px 0;
      }

      .continue {
        border: 1px solid $brand-color;
        border-radius: 20px;
        color: $brand-color;
        font-size: 12px;
        padding: 7px 15px;

        @include transition(all, ease, 400ms);

        &:hover {
          background-color: $brand-color;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .guides .column {
    display: inline-block;
    vertical-align: top;
    width: 33%;
  }
}