<nav>
  <div class="left">
    <%= link_to 'HOME', root_path, class: 'active' %>
    <%= link_to 'HOW IT WORKS', home_about_path %>
  </div>
  <div class="right">
    <%= link_to 'BECOME A NINJA', new_user_registration_path %>
  </div>
</nav>

<div class="content">
  <div class="heading">
    <h1>FORGET ABOUT BANK FEES</h1>
    <small>MAKE IT HAPPEN BY BECOMING A BITCOIN NINJA</small>
  </div>
  <div class="details">
    <h3>Become a BitCoin Ninja...</h3>
    <small>Learn how to use the world's most disruptive technology to better your life</small>
  </div>
</div>