<% content_for :styletags do %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :link_structure do %>
    <%= link_to 'HOME', root_path, class: 'active' %>
    <%= link_to 'HOW IT WORKS', about_path %>
<% end %>

<%= render 'partials/navbar' %>

<div class="content">
  <div class="heading">
    <h1>FORGET ABOUT BANK FEES</h1>
    <small>MAKE IT HAPPEN BY BECOMING A BITCOIN NINJA</small>
  </div>
  <div class="details">
    <h3>Become a BitCoin Ninja...</h3>
    <small>Learn how to use the world's most disruptive technology to better your life</small>
  </div>
</div>