<%= render 'partials/navbar' %>

<%= form_tag payments_path do %>

    <h4>Choose your path</h4>

    <div class="type-selection">
      <div id="master" class="master">
        <i class="fa fa-user-secret"></i>
        Master
      </div>
      <div class="split">OR</div>
      <div id="apprentice" class="apprentice">
        <i class="fa fa-user"></i>
        Apprentice
      </div>
      <%= hidden_field_tag(:account_type, 'master') %>
    </div>

    <article>
      <label class="amount">
        <span>Amount: $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="500"
            data-locale="auto"></script>
<% end %>