@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$brand-color: #F7931A;
$error-color: #FF4136;
$heading-stack: Montserrat, 'Open Sans', sans-serif;
$alternate-stack: Lato, 'Open Sans', sans-serif;

@import 'mixins';

body {
  margin: 0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a {
  color: #B9B9B9;
  font-family: $heading-stack;
  text-decoration: none;
}

a.active {
  color: #737373;
}

.flash {
  background-color: white;
  bottom: -75px;
  box-shadow: 0 0 60px 1px #696969;
  color: #414141;
  font-family: $alternate-stack;
  font-size: 16px;
  font-weight: 300;
  left: 20%;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 50%;
  z-index: 10;

  @include transition(all, ease, 500ms);
}

@media (min-width: 600px) {
  .flash {
    left: 35%;
    width: 25%;
  }
}