@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$brand-color: #F7931A;
$heading-stack: Montserrat, 'Open Sans', sans-serif;
$alternate-stack: Lato, 'Open Sans', sans-serif;

body {
  margin: 0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a {
  color: #B9B9B9;
  font-family: $heading-stack;
  text-decoration: none;
}

a.active {
  color: #737373;
}

.notice {
  background-color: white;
  box-shadow : 3px 3px 3px #E7E7E7;
  font-family: $alternate-stack;
  font-size: 16px;
  height: 25px;
  left: 35%;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 20%;
  z-index: 10;
}