@mixin transition($element, $type, $time) {
  -webkit-transition: $element $time $type;
  -moz-transition: $element $time $type;
  -ms-transition: $element $time $type;
  -o-transition: $element $time $type;
  transition: $element $time $type;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin placeholder-font($color, $font-family, $default, $size, $weight) {
  ::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family, $default;
    font-size: $size;
    font-weight: $weight;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    font-family: $font-family, $default;
    font-size: $size;
    font-weight: $weight;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    font-family: $font-family, $default;
    font-size: $size;
    font-weight: $weight;
  }

  :-ms-input-placeholder {
    color: $color;
    font-family: $font-family, $default;
    font-size: $size;
    font-weight: $weight;
  }
}

@mixin opacity($value) {
  opacity: $value;
  filter: alpha(opacity=$value * 100); /* For IE8 and earlier */
}