@import 'partials/constants';

nav {
  background-color: white;
  box-shadow: 1px 1px 3px #E1E1E1;
  height: 60px;

  .left.logout,
  .right.logout {
    display: inline-block;
  }

  .right.logout {
    float: right;
  }

  .left {
    margin-left: 10%;
    padding-top: 20px;

    a {
      font-size: 14px;
      margin: 0 10px;
    }
  }

  .right {
    float: right;

    .signup {
      background-color: $brand-color;
      color: white;
      display: block;
      font-size: 14px;
      margin-top: 15px;
      padding: 7px 50px;
      text-align: center;

      * {
        display: inline-block;
        padding: 0 5px;
      }
    }

    .settings,
    .logout {
      display: inline-block;
      font-size: 14px;
      margin: 20px;
    }
  }
}

@media (min-width: 600px) {
  nav {
    .left,
    .right {
      display: inline-block;
      height: 100%;
    }

    .right {
      float: right;

      .signup {
        float: right;
        margin-top: 0;
      }
    }
  }
}