@import 'constants';

.type-selection {
  font-family: Montserrat, 'Open Sans', sans-serif;
  font-size: 0;
  height: 150px;
  width: 300px;

  .split {
    background-color: white;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    bottom: 135px;
    color: darkgrey;
    float: right;
    font-size: 16px;
    margin-left: 130px;
    padding: 3px 5px;
    position: absolute;
  }

  .master,
  .apprentice {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    text-align: center;
    width: 50%;

    &:focus {
      background-color: $brand-color;
      color: white;
    }

    i {
      display: block;
      font-size: 72px;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }

  $border-radius: 5px;

  .master {
    background-color: $brand-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    color: white;
  }

  .apprentice {
    background-color: #E7E7E7;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: gray;
  }
}