@import 'partials/constants';
@import 'partials/mixins';
@import 'partials/navbar';

h2 {
  font-family: Lato, 'Open Sans', sans-serif;
  color: $brand-color;
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.25em;
}

.content {
  margin-top: 100px;
}

.center-form {
  margin: 50px auto;
  width: 300px;
}

form {
  width: 300px;

  .field {
    position: relative;

    &.remember-me {
      padding-top: 10px;
    }

    em {
      display: none;
      position: absolute;
      top: 3px;
      @include transition(all, ease, 300ms);
    }
  }

  .field:hover,
  .field:focus {
    em {
      display: block;
    }
  }
}

@include placeholder-font(#696969, Lato, sans-serif, 14px, 500);

input[type=email],
input[type=password] {
  background-color: #E7E7E7;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  box-shadow: 0.5px 1px 1px #C3C3C3 inset;
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  width: 290px;
}

.field_with_errors input {
  border-color: $error-color;
  border-width: 2px;
}

label {
  color: #B9B9B9;
  font-family: Lato, 'Open Sans', sans-serif;
}

input[type=submit] {
  background-color: $brand-color;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  margin: 30px auto 0 auto;
  padding: 10px;
  text-transform: uppercase;
  width: 305px;

  @include transition(all, ease, 400ms);

  &:hover {
    background-color: rgba(255, 153, 26, 0.95);
  }
}

.shared-links {
  text-align: center;

  a {
    display: block;
    padding: 7px 0;
    text-transform: uppercase;
  }
}

// TODO: Style explanation as flash message
#error_explanation {
  font-family: Lato, 'Open Sans', sans-serif;

  h2 {
    color: $error-color;
    font-size: 16px;
    margin: 15px 0;
  }
}

@media (min-width: 600px) {
  .content {
    margin-top: 0;
  }
}