@import 'partials/constants';
@import 'partials/mixins';
@import 'partials/navbar';

header {
  background-color: $brand-color;
  height: 250px;

  nav {
    background-color: transparent;
    box-shadow: none;

    a, a.active {
      color: white;
    }
  }
}

.guides {
  margin: 0 50px;

  .column {
    display: inline-block;
    width: 33%;

    article {
      img {
        width: 100%;
      }

      .continue {
        border: 1px solid $brand-color;
        border-radius: 10px;
        color: $brand-color;
        font-size: 14px;
      }
    }
  }
}