@import 'constants';

nav {
  box-shadow: 1px 1px 3px #E1E1E1;
  height: 60px;

  .left,
  .right {
    display: inline-block;
    height: 100%;;
  }

  .left {
    margin-left: 10%;
    padding-top: 25px;

    a {
      font-size: 14px;
      margin: 0 10px;
    }
  }

  .right {
    float: right;

    a {
      background-color: $brand-color;
      color: white;
      float: right;
      font-size: 14px;
      padding: 7px 50px;

      * {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}

.content {
  .heading {
    font-family: Lato, sans-serif;
    margin-top: 50px;
    text-align: center;

    h1 {
      color: $brand-color;
      font-size: 46px;
      margin: 10px 0;
    }

    small {
      color: #4b4b4b;
      font-weight: 700;
      letter-spacing: 0.05em;
      word-spacing: 0.15em;
    }
  }

  .details {
    margin-top: 300px;
  }
}