body {
  margin: 0;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

a {
  color: #B9B9B9;
  text-decoration: none;
}

nav {
  box-shadow: 1px 1px 3px #E1E1E1;
  height: 60px;

  .left,
  .right {
    display: inline-block;
    height: 100%;;
  }

  .left {
    margin-left: 10%;
    padding-top: 25px;

    a {
      margin: 0 10px;
    }
  }

  .right {
    float: right;

    a {
      background-color: darkgrey;
      color: white;
      float: right;
      padding: 21px;
    }
  }
}

.content {
  .heading {
    margin-top: 50px;
    text-align: center;
  }

  .details {
    margin-top: 300px;
  }
}