@import 'partials/constants';
@import 'partials/navbar';

.content {
  .heading {
    font-family: Lato, sans-serif;
    margin-top: 100px;
    text-align: center;

    h1 {
      color: $brand-color;
      font-size: 46px;
      margin: 10px 0;
    }

    small {
      color: #4b4b4b;
      font-weight: 700;
      letter-spacing: 0.05em;
      word-spacing: 0.15em;
    }
  }

  .details {
    margin-top: 300px;
  }
}

@media (min-width: 600px) {
  .content .heading {
    margin-top: 50px;
  }
}