@import 'partials/constants';
@import 'partials/mixins';
@import 'partials/navbar';

body {
  background-image: image-url('city.jpg');
  background-size: cover;
}

.select-option {
  font-family: $alternate-stack;
}

.content {
  padding: 50px 10%;
}

.type-selection {
  font-family: $heading-stack;
  font-size: 0;
  height: 150px;
  margin: auto;
  position: relative;
  width: 300px;

  .split {
    background-color: white;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    color: darkgrey;
    float: right;
    font-size: 16px;
    padding: 3px 5px;
    position: absolute;

    top: 65px;
    left: 130px;
  }

  .master,
  .apprentice {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    text-align: center;
    width: 50%;

    @include transition(all, ease, 300ms);

    &:focus {
      background-color: $brand-color;
      color: white;
    }

    i {
      display: block;
      font-size: 72px;
      padding-top: 25px;
      padding-bottom: 10px;
    }
  }

  $border-radius: 5px;

  .master {
    background-color: $brand-color;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    color: white;
  }

  .apprentice {
    background-color: #E7E7E7;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: gray;
  }
}

.center-form {
  background-color: white;
  box-shadow: 3px 3px 10px rgba(33, 33, 33, 0.7);
  vertical-align: top;
  width: 100%;

  h2 {
    padding-top: 50px;
  }

  #master-details,
  #apprentice-details {
    color: #2a2a2a;
    margin: 0 auto;
    padding: 35px 0;
    width: 70%;
    
    h4 {
      font-family: $heading-stack;
    }
    
    ul {
      font-family: $alternate-stack;
    }
  }

  #apprentice-details {
    display: none;
  }
}

#payment-form {
  background-color: white;
  border-radius: 20px;
  height: 300px;
  margin: auto;
  width: 100%;

  .blue-top {
    background-color: #018FFD;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 100px;

    h3 {
      color: white;
      font-family: $heading-stack;
      font-size: 20px;
      margin: 0;
      padding: 25px 0 25px 35px;
      text-transform: uppercase;
    }
  }

  .bottom-section {
    padding: 0 35px;
  }

  .form-row {
    padding-top: 10px;

    &.second-row label {
      margin-right: 15px;
      width: 25%;
    }

    label {
      display: inline-block;
      @include placeholder-font(#CDCDCD, Montserrat, sans-serif, 20px, 400);

      span {
        color: #989898;
        display: block;
        font-family: $heading-stack;
        font-size: 13px;
        padding: 10px 0;
        text-transform: uppercase;
      }

      input {
        border: 2px solid #C3C3C3;
        border-radius: 6px;
        color: #111111;
        font-size: 20px;
        font-weight: 700;
        padding: 8px;
        width: 100%;

        &:focus {
          border-color: #81C8FE;
          outline: 0 !important;
        }
      }

      .month-select + .select-target {
        height: 43px;
        margin-bottom: 6px;
        padding: 10px 0 0 15px;
        width: 100%;
      }
    }
  }

  .submit {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: $heading-stack;
    margin: 40px 15%;
    padding: 10px;
    position: absolute;
    text-transform: uppercase;
    width: 50%;

    @include transition(all, ease, 300ms);

    &:hover {
      background-color: white;
      color: $brand-color;
    }
  }
}

@media (min-width: 600px) {
  .center-form {
    display: inline-block;
    margin: 0;
    width: 40%;

    h2 {
      padding-top: 0;
    }
  }

  #payment-form {
    display: inline-block;
    float: right;
    width: 55%;

    .form-row {
      &.second-row label {
        margin-right: 20px;
      }
    }

    .submit {
      margin: 40px 7%;
      width: 30%;
    }
  }
}

@media (min-width: 850px) {
  #payment-form {
    .form-row {
      &.second-row label {
        margin-right: 30px;
      }
    }
  }
}