<% content_for :styletags do %>
    <%= stylesheet_link_tag 'guides', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<header>
  <nav>
    <div class="left">
      <%= link_to 'Home', root_path, class: 'active' %>
      <%= link_to 'How it Works', guides_about_path %>
    </div>
    <div class="right">
      <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, class: 'logout') %>
    </div>
  </nav>
</header>